/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
 }

 nav li {
  float: left;
 }

nav {
  max-width: 600px;
  margin: 0 auto;
}
 nav li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 nav a:hover:not(.active) {
  background-color: #111;
 }

 .active {
  background-color:#948e99;
 }

body {
  padding: 20px;
  background-color: white;
 }

.container {
  margin: 0 auto;
  background-color: white;
  max-width: 600px;
}

h1 {
  color: #51425f;
}

a {
  color: #948e99;
}

a .new-proposal {
  color: #230f2b;
}
