<!DOCTYPE html>
<html>
  <head>
    <title>LabTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <% if logged_in? %>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/">Home</a></li>
        <% else %>
          <li><a href="/users/new">Register</a></li>
          <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
